
html,
body {
    height: 100%;
}

html {
    font-size: 62.5%;
    font-family: 'Luckiest Guy', "Open Sans";
}

body {
    background: radial-gradient(red,rebeccapurple 60%);
    border: 10px solid red;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: yellow;
    text-align: center;
    font-size: 7rem;
}

#buttons-div {
    background-color: blue;
}

button {
        background-color: rebeccapurple;
        color: yellow;
        font-size: 4rem;
        font-family: 'Luckiest Guy', "Open Sans";
        border: solid 3px yellow;
        border-radius: 10px;
        padding-top: 3px;
    }

.container-wrapper {
    background-color: #ff0000;
    margin-bottom: 2px;
    border-radius: 10px;
    border: solid .4rem rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.squares-container {
    display: grid;
    width: 50rem;
    height: 50rem;
    border: solid .2rem rgb(8, 8, 8);
    margin: 10px 10px 10px 10px;
    padding: 1px;
    border-radius: 10px;
    background-color: white;
}

.new-square-divs {
    background-color: rgb(255, 255, 255);
    border: solid .01rem rgb(0, 0, 0);
}

